.page {
    margin: 0;
    padding-top: 60px;
    font-family: Pragmatica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
    .page {
        padding-top: 30px;
    }
}
