@font-face {
    font-family: 'Pragmatica';
    font-style:  normal;
    font-weight: normal;
    font-display: swap;
    src: url("Pragmatica-Medium.woff2") format("woff2"),
         url("Pragmatica-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Pragmatica';
    font-style:  normal;
    font-weight: bold;
    font-display: swap;
    src: url("Pragmatica-Bold.woff2") format("woff2"),
         url("Pragmatica-Bold.woff") format("woff");
  }

  @font-face {
     font-family: 'Pragmatica';
     font-style:  normal;
     font-weight: lighter;
     font-display: swap;
     src: url("Pragmatica-Light.woff2") format("woff2"),
          url("Pragmatica-Light.woff") format("woff");
   }