.header {
    margin: 0 auto;
    max-width: 1500px;
    font-family: 'Pragmatica', Arial, sans-serif;
}

@media (max-width: 1600px) {
    .header {
        margin: 0 80px;
    }
}

@media (max-width: 1023px) {
    .header {
        margin: 0 40px;
    }
}

@media (max-width: 767px) {
    .header {
        margin: 0 20px;
    }
}