.footer__copyright {
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 1023px) {
    .footer__copyright {
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    .footer__copyright {
        font-size: 26px;
    }
}