.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto 0;
    max-width: 1500px;
}

@media screen and (max-width: 1600px) {
    .intro {
        margin: 100px 80px 0;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin: 70px 40px 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 60px 20px 0;
    }
}