.place__information {
    margin: 0;
    padding: 77px 81px 97px 80px;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1279px) {
    .place__information {
        padding: 67px 71px 57px 64px;
    }
}

@media (max-width: 1023px) {
    .place__information {
        padding: 25px 34px 25px 34px;
    }
}

@media (max-width: 767px) {
    .place__information {
        padding: 20px 16px 20px 16px;
        grid-column-start: 1;
        grid-row-start: 2;
    }
}