.footer {
    font-family: 'Pragmatica', Arial, sans-serif;
    background-color: #FECDA7;
    width: 100%;
    height: calc(100vw/2.06);
    display: flex;
    justify-content: center;
    align-items: center;
}