.intro__image {
    max-width: 420px;
    max-height: 420px;
    margin: 0 110px;
    display: flex;
}

@media screen and (max-width: 1279px) {
    .intro__image {
        max-width: 300px;
        max-height: 300px;
        margin: 0 75px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__image {
        max-width: 200px;
        max-height: 200px;
        margin: 0 55px;
    }
}

@media screen and (max-width: 767px) {
    .intro__image {
        margin: 0 auto;
        max-width: 280px;
        max-height: 280px;
    }
}